@model ResourcesWebApplication.Models.Accounting.PlanComptable

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PlanComptable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Classe" class="control-label"></label>
                <input asp-for="Classe" class="form-control" />
                <span asp-validation-for="Classe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Niv_de_Reg" class="control-label"></label>
                <input asp-for="Niv_de_Reg" class="form-control" />
                <span asp-validation-for="Niv_de_Reg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="No_Compte" class="control-label"></label>
                <input asp-for="No_Compte" class="form-control" />
                <span asp-validation-for="No_Compte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Libelle" class="control-label"></label>
                <input asp-for="Libelle" class="form-control" />
                <span asp-validation-for="Libelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

