<div class="row">
    <div class="col-md-4">
        <div class="card-header">
            <div class="form-group">
                <label for="datasetAddress" class="control-label">SQL File Address.</label>
                <input id="addressID" class="form-control-plaintext bg-white text-danger" autocomplete="off" spellcheck="false" required />
            </div>
            <hr>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-md text-dark bg-white" id="btnId" onclick="postGetSQLQuery()" />
            </div>    
        </div>
    </div>
    <div class="col">

    </div>
</div>
<script>
    function postGetSQLQuery() {
        const address = document.getElementById('addressID');
        if (address) {
            fetch(`/MachineLearning/QueryPoster?url=${encodeURIComponent(address.value)}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    else if(response.ok)
                    {
                        return response.json();
                    }
                })
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    console.error('There was a problem with your fetch operation:', error);
                });
        }
    }
</script>