@model IEnumerable<ResourcesWebApplication.Models.MachineLearning.LogisticRegression>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a> | <a asp-action="Plots">Scatter Plot or Historgram Plot.</a>
</p>
<div class="card">
    <div class="card-header bg-primary text-white">
        <h3>Get Dataset Coefficent by Dataset Name</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="DatasetName">Dataset Name</label>
                            <select id="datasetNamesId" class="form-control-plaintext" ></select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <button class="btn btn-lg btn-block bg-dark text-white" onclick="getClassificationReport()" id="getCoefficientID">Get classification Report</button>
                        </div>
                    </div>
                </div>            
            </div>
            <div class="col">
                <table class="table bg-dark text-white">
                    <thead class="table bg-danger text-white">
                        <tr>
                            <th>Id</th>
                            <th>Dataset Name</th>
                            <th>Label</th>
                            <th>Precision</th>
                            <th>Recall</th>
                            <th>F1 score</th>
                            <th>Support</th>
                            <th>Created AT</th>
                        </tr>
                    </thead>
                    <tbody id="classificationReportTableBody">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function getClassificationReport()
    {
        const dropdown1 = document.getElementById('datasetNamesId');
        const tableBody = document.getElementById('classificationReportTableBody');
        tableBody.innerHTML = '';
        if(dropdown1.value)
        {
            fetch(`/MachineLearning/GetClassificationReport?datasetName=${encodeURIComponent(dropdown1.value)}`) // Replace 'ControllerName' with the name of your controller
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {                    
                    data.forEach(item => {
                        const row = tableBody.insertRow();
                        row.insertCell().textContent = item.id;
                        row.insertCell().textContent = item.datasetName;
                        row.insertCell().textContent = item.label;
                        row.insertCell().textContent = item.precision;
                        row.insertCell().textContent = item.recall;
                        row.insertCell().textContent = item.f1Score;
                        row.insertCell().textContent = item.support;
                        row.insertCell().textContent = item.createdAT;
                    });
                })
                .catch(error => {
                    console.error('There was a problem with your fetch operation:', error);
                });
        }
    }
    function getDatasetNames()
    {
        const dropdown1 = document.getElementById('datasetNamesId');
        dropdown1.innerHTML = "";
        fetch(`/LogisticRegressions/GetDatasetNames`) // Replace 'ControllerName' with the name of your controller
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {                
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item;
                    option.textContent = item;
                    dropdown1.appendChild(option);
                });
            })
            .catch(error => {
                console.error('There was a problem with your fetch operation:', error);
            });
    }
    getDatasetNames();
</script>