@model ResourcesWebApplication.Models.Games.TwoPlayers.Strategy

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Strategy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FthPlayerID" class="control-label"></label>
                <input asp-for="FthPlayerID" class="form-control" />
                <span asp-validation-for="FthPlayerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SndPlayerID" class="control-label"></label>
                <input asp-for="SndPlayerID" class="form-control" />
                <span asp-validation-for="SndPlayerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FthPlayerStrategy" class="control-label"></label>
                <input asp-for="FthPlayerStrategy" class="form-control" />
                <span asp-validation-for="FthPlayerStrategy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SndPlayerStrategy" class="control-label"></label>
                <input asp-for="SndPlayerStrategy" class="form-control" />
                <span asp-validation-for="SndPlayerStrategy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

